<section class="h-100">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center h-100">
			<div class="col-8 p-0">
				<div class="m-0">
					<div class="clearfix">
						<button class="border border-bottom-0 p-3 m-0" id="normal_product"> 일반배송
							<span>(</span>
							<span id="normal_cart" th:text="${#lists.size(normalCartList)}"></span>
							<span>)</span>
						</button>
						<button class="border border-bottom-0 p-3 m-0" id="regular_product"> 정기배송
							<span>(</span>
							<span id="regular_cart" th:text="${#lists.size(regularCartList)}"></span>
							<span>)</span>
						</button>
					</div>
				</div>

				<div class="border m-0">
					<!-- 일반상품 리스트 -->
					<div class="p-3" id="cart_list" text="hi">
						<div
							class="row mb-4 d-flex justify-content-between align-items-center text-center text-dark">
							<div class="col-5 ">상품정보</div>
							<div class="col-3 ">수량</div>
							<div class="col-4">주문금액</div>
						</div>

						<hr>

						<div id="empty_cart" class="fs-1 text-center" hidden="true">장바구니에 상품이 없어요.</div>

						<div th:each="cart : ${normalCartList}">
							<div
								class="row mb-4 d-flex justify-content-between align-items-center">
								<div class="col-2">
									<img th:src="|images/products/${cart.product.product_thumbnail_imgpath}|"
										class="img-fluid rounded-3" alt="Cotton T-shirt">
								</div>
								<div class="col-3">
									<h6 class="text-muted"
										th:text="${cart.product.product_description}"></h6>
									<h6 class="text-black mb-0"
										th:text="${cart.product.product_name}"></h6>
								</div>
								<div class="col-7">
									<div
										class="row justify-content-center align-items-center text-center">
										<div class="col-1 m-0 p-0">
											<button class="btn btn-link p-0 m-0" name="minus_btn">
												<i class="lni lni-circle-minus"></i>
											</button>
										</div>

										<div class="col-1 p-0 m-0">
											<input id="form1" name="count"
												class="form-control bg-white text-center p-0 m-0"
												th:value="${cart.product_count}" readonly />
										</div>
										<div class="col-1 p-0 m-0">
											<button class="btn btn-link p-0 m-0" name="plus_btn">
												<i class="lni lni-circle-plus"></i>
											</button>
										</div>
										<div class="col-6 text-dark text-end">
											<span class="mb-0" name="product_sumprice" id="normal_sumprice"
												th:text="${#numbers.formatInteger(cart.product.product_price * cart.product_count, 3, 'COMMA')}" />
											<span>원</span>
										</div>
										<div class="col-1 text-end">
											<a href="#!" name="close" id="normal_close"><i class="lni lni-close"></i></a>
										</div>
										<!-- Hidden -->
										<input th:value="${cart.product.product_price}" type="text"
											name="product_price" hidden="true" /> <input
											th:value="${cart.cart_id}" type="text" name="cart_id"
											hidden="true" />
									</div>
								</div>
							</div>
						</div>



						<hr class="my-4">

						<div class="pt-1 text-end">
							<span class="mb-0"> 총 합계 </span> <span name="normalTotalPrice"></span>
							<span> 원</span>
						</div>




					</div>
					
					<!-- 정기배송 리스트 -->
					<div class="p-3" id="regular_cart_list" hidden="true">
						<div
							class="row mb-4 d-flex justify-content-between align-items-center text-center text-dark">
							<div class="col-5 ">상품정보</div>
							<div class="col-3 ">수량</div>
							<div class="col-4">주문금액</div>
						</div>

						<hr>

						<div id="empty_cart" class="fs-1 text-center" hidden="true">장바구니에 상품이 없어요.</div>

						<div th:each="cart : ${regularCartList}">
							<div
								class="row mb-4 d-flex justify-content-between align-items-center">
								<div class="col-2">
									<img src="images/products/product-1.jpg"
										class="img-fluid rounded-3" alt="Cotton T-shirt">
								</div>
								<div class="col-3">
									<h6 class="text-muted"
										th:text="${cart.product.product_description}"></h6>
									<h6 class="text-black mb-0"
										th:text="${cart.product.product_name}"></h6>
								</div>
								<div class="col-7">
									<div
										class="row justify-content-center align-items-center text-center">
										<div class="col-1 m-0 p-0">
											<button class="btn btn-link p-0 m-0" name="minus_btn">
												<i class="lni lni-circle-minus"></i>
											</button>
										</div>

										<div class="col-1 p-0 m-0">
											<input id="form1" name="count"
												class="form-control bg-white text-center p-0 m-0"
												th:value="${cart.product_count}" readonly />
										</div>
										<div class="col-1 p-0 m-0">
											<button class="btn btn-link p-0 m-0" name="plus_btn">
												<i class="lni lni-circle-plus"></i>
											</button>
										</div>
										<div class="col-6 text-dark text-end">
											<span class="mb-0" name="product_sumprice" id="regular_sumprice"
												th:text="${#numbers.formatInteger(cart.product.product_price * cart.product_count, 3, 'COMMA')}" />
											<span>원</span>
										</div>
										<div class="col-1 text-end">
											<a href="#!" name="close" id="regular_close"><i class="lni lni-close"></i></a>
										</div>
										<!-- Hidden -->
										<input th:value="${cart.product.product_price}" type="text"
											name="product_price" hidden="true" /> <input
											th:value="${cart.cart_id}" type="text" name="cart_id"
											hidden="true" />
									</div>
								</div>
							</div>
						</div>



						<hr class="my-4">

						<div class="pt-1 text-end">
							<span class="mb-0"> 총 합계 </span> <span name="regularTotalPrice"></span>
							<span> 원</span>
						</div>




					</div>

				</div>
				<div class="row justify-content-end m-0 mt-3">
					<button id="see_more" class="col-2 btn btn-outline-primary me-2" th:onclick="|location.href='@{/}'|">
						더 둘러보기
					</button>
					<button id="order" class="col-2 btn btn-primary">
						주문하기
					</button>
					<button id="go_main" class="col-2 btn btn-primary" th:onclick="|location.href='@{/}'|" hidden="true">
						반찬담기
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
<script th:inline="javascript">
/*<![CDATA[*/
	let cartCount = /*[[${#lists.size(cartList)}]]*/'0';
	let normalCartCount = /*[[${#lists.size(normalCartList)}]]*/'0';
	let regularCartCount = /*[[${#lists.size(regularCartList)}]]*/'0';
/*]]>*/
</script>

<script type="text/javascript" src="js/cart.js">
</script>