<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
function checked_delete(chk){
	$.ajax({
		url:'[[@{/orderlist/delete}]]',
		data:{"del":chk},
		success:function(){
			location.reload();
		},
		error:function(){
			alert('데이터 삭제실패');
			return false;
		}
	});
};

	
function checked_restore(chk){
	$.ajax({
		url:'[[@{/orderlist/restore}]]',
		data:{"res":chk},
		success:function(){
			location.reload();
		},
		error:function(){
			alert('복원프로세스 실패');
			return false;
		}
	});
};

function formSubmit(){
	var formData={
		option:$('select[name=option]').val(),
		searchVal:$('#keyword').val()
	};
	
	$.ajax({
		url:'[[@{/orderlist/searchlist}]]',
		type:'get',
		data:formData,
		success:function(){
			location.reload();
		},
		error:function(){
			alert('데이터전송 실패');
			return false;
		}
	});
};

function quitaccount(){
	$.ajax({
		url:'[[@{/orderlist/searchlist}]]',
		type:'get',
		data:{"option":"member_status",
			"searchVal":"N"},
		success:function(){
			location.reload();
		},
		error:function(){
			alert('데이터전송 실패');
			return false;
		}
	});
};

var cnt=0;
function changeState(id,state_option){
	$.ajax({
		url:'[[@{/orderlist/changestate}]]',
		type:'get',
		data:{order_id:id,
			order_state:state_option},
		success:function(){
			location.reload();
		},
		error:function(){
			alert(id+'번 주문 상태수정 실패!');
			cnt+=1;
			return false;
		}
	});
};

$(document).ready(function(){
	$('#selectall').click(function(){
		$("input[name='checkbox']").prop("checked", true);
	});
	
	$('#cancelall').click(function(){
		$("input[name='checkbox']").prop("checked", false);
	});
	
	$('#delete').click(function(){
		var result = confirm("선택한 주문을 정말 삭제처리하시겠습니까?");
		if(result){
		$("input[name='checkbox']:checked").each(function(){
			var chk =$(this).closest("th").next().text();
	  	    checked_delete(chk);	
		});
			alert('탈퇴완료!');
		}else{ 
			alert('취소!');
		}
	});

	$('#quitaccount').click(function(){
		quitaccount();
	});
	
	$('#changes_save').click(function(){
		$("select[name='state_option'] option:selected").each(function(){
				var id = $(this).closest("th").parent().children().first().next().text();
				var state_option = $(this).val();
				if(state_option != "--선택--"){
					changeState(id,state_option);
				}
		});
		if(cnt>0){
			alert(cnt+'번 수정에 실패했습니다');
		}else{
			alert('수정 성공!');
		}
	});
});

</script>
</head>
<body>
	<div class="card shadow mb-3" style="width:100%;">
		<div class="card-header py-3">
			<h4 class="m-1 font-weight-bold text-dark d-inline">인기상품</h4>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>상품이름</th>
							<th>매출액</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="bestproduct:${bestproduct}">
							<th th:text="${bestproduct.product_name}"></th>
							<th th:text="${bestproduct.sum}+원"></th>
						</tr>
					</tbody>
					<tfoot>
					</tfoot>
				</table>		
		</div>
	</div>
	</body>
</html>