<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.chanchanchan.mapper.OrderListMapper">
	<select id="list" parameterType="Integer" resultType="OrderList">
		SELECT order_id,order_totalpayment,order_state,order_date FROM order_list 
		WHERE member_index = #{member_index} ORDER BY order_id desc
	</select>
	<delete id="delete" parameterType="Integer">
		DELETE FROM order_list WHERE order_id=#{order_id}
	</delete>
</mapper>