<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.site.chanchanchan.mapper.OrderDetailMapper">

	<select id="orddetail" parameterType="Integer"
		resultType="OrderDetail">
		SELECT pr.product_name AS
		product_name,ol.order_totalpayment AS order_totalpayment,
		ol.payment_method AS payment_method,ol.order_date AS order_date,
		ol.order_state AS order_state,ol.receiver AS receiver
		FROM order_detail
		od
		INNER JOIN order_list ol ON od.order_id = ol.order_id
		INNER JOIN product pr ON od.product_id = pr.product_id
		WHERE od.order_id =
		#{order_id}
	</select>

	<insert id="insert" parameterType="OrderDetail" useGeneratedKeys="true"
		keyProperty="orderdetail_id">
		INSERT INTO order_detail VALUES
		(orderdetail_id,#{product_id},#{order_id},#{orderdetail_count},#{orderdetail_price})
	</insert>

</mapper>