<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.chanchanchan.mapper.OrderDetailMapper">
	
	<select id="list" parameterType="Integer" resultType="OrderDetail">
		SELECT *
		FROM order_detail od
		INNER JOIN order_list ol ON od.order_id = ol.order_id 
		INNER JOIN product pr ON od.product_id = pr.product_id
		WHERE ol.member_index = #{member_index} ORDER BY od.orderdetail_id desc
	</select>

	<select id="orddetail" parameterType="Integer" resultType="OrderDetail">
		SELECT *
		FROM order_detail od
		INNER JOIN order_list ol ON od.order_id = ol.order_id
		INNER JOIN product pr ON od.product_id = pr.product_id
		WHERE od.orderdetail_id = #{orderdetail_id}
	</select>
	<select id="rvprid" parameterType="Integer" resultType="OrderDetail">
		SELECT od.product_id AS product_id
		FROM order_detail AS od
		INNER JOIN order_list AS ol ON od.order_id = ol.order_id
		WHERE ol.order_id = #{order_id}
	</select>

	<insert id="insert" parameterType="OrderDetail" useGeneratedKeys="true"
		keyProperty="orderdetail_id">
		INSERT INTO order_detail VALUES
		(orderdetail_id,#{product_id},#{order_id},#{orderdetail_count},#{orderdetail_price})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM order_detail WHERE order_id=#{order_id}
	</delete>

</mapper>