<!DOCTYPE html>
<html class="no-js" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmls:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ChanChanChan</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.svg" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>	
    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/calenderstyle.css">
    
    

<script>
$(document).ready(function() {
	$('#search_btn').click(function() {
		if($('#search_input').val()==''){
			alert("검색어를 입력하세요.");
		}else{
			$('#search_form').attr({
				'method' : 'get',
				'action' : '[[@{/searchimpl}]]'
			});
			$('#search_form').submit();
		}
	});
});
</script>

</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <!-- Start Header Middle -->
        <div class="header-middle">
            <div class="container">
                <div class="row align-items-end">
                    
                    <div class="col-5">
                        <!-- Start Main Menu Search -->
                        <form id="search_form">
                        <div class="main-menu-search col-6 d-flex">
                            <!-- navbar search start -->                           
                            <div class="navbar-search search-style-5">
                                <div class="search-input">
                                    <input id="search_input" name="txt" type="text" placeholder="반찬은 찬찬찬">
                                </div>
                                <div id="search_btn" class="search-btn">
                                    <button><i class="lni lni-search-alt"></i></button>
                                </div>
                            </div>                        
                            <!-- navbar search Ends -->
                        </div>
                        </form>
                        <!-- End Main Menu Search -->
                    </div>
                    <div class="col-3">
                        <!-- Start Header Logo -->
                        <a class="navbar-brand" th:href="@{/}">
                            <img src="images/logo/logo.svg" alt="Logo">
                        </a>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-4 ">
                    	<div class=" middle-right-area justify-content-end m-3 user-login">
							<ul class = "nav justify-content-end">
                                <li>
                                    <a th:href="@{/login}" th:if="${session.loginmem == null}">로그인</a>
									<a th:href="@{/logout}" th:if="${session.loginmem != null}">로그아웃</a>
                                </li>
                                <li>
                                    <a th:href="@{/register}">회원가입</a>
                                </li>
                                <li>
                                    <a th:href="@{/register}">고객센터</a>
                                </li>
                                <li>
                                    <a th:href="@{/register}">배송조회</a>
                                </li>
                            </ul>
						</div>
                        <div class="middle-right-area justify-content-end">
                        	<div class="navbar-cart">
                        		<div class="cart-items me-3">
                                    <a th:href="@{/cart}" class="main-btn">
                                        <i class="lni lni-user"></i>
                                    </a>
                                    <a th:href="@{/mypage}">
                                   	 <span class = "m-2 text-dark fs-6">마이페이지</span>
                                    </a>
                                </div>
                                <div class="cart-items">
                                    <a th:href="@{/cart}" class="main-btn">
                                        <i class="lni lni-cart"></i>
                                        <span th:if="${#lists.isEmpty(cartList)}">
                                        	<span class="total-items" name="cartCount">0</span>
                                        </span>
                                        <span th:if="${not #lists.isEmpty(cartList)}">
                                        	<span class="total-items" name="cartCount" th:text="${#lists.size(cartList)}"></span>
                                        </span>
                                    </a>
                                    <a th:href="@{/cart}">
                                   	 <span class = "m-2 text-dark fs-6">장바구니</span>
                                    </a>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Middle -->
        <!-- Start Header Bottom -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-6 col-12">
                    <div class="nav-inner">
                        <!-- Start Mega Category Menu -->
                        <div class="mega-category-menu">
                            <span class="cat-button"><i class="lni lni-menu"></i>반찬 카테고리</span>
                            <ul class="sub-category">
                                <li><a th:each="ca:${catelist}" th:href="@{/product(category_id=${ca.category_id})}" th:value="${ca.category_id}" id="${ca.category_id}" th:text="${ca.category_title}"></a></li>                           	
                            </ul>
                        </div>
                        <!-- End Mega Category Menu -->
                        <!-- Start Navbar -->
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">                                       
                                        <a href="/map" aria-label="Toggle navigation">할인특가</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="product?category_id=150" aria-label="Toggle navigation">신상품</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="product?category_id=151" aria-label="Toggle navigation">베스트</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="product?category_id=153" aria-label="Toggle navigation">정기배송</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav>
                        <!-- End Navbar -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Nav Social -->
                    <div class="nav-social">
                        <h5 class="title">공지사항</h5>
                        <h5 class="title">자주 묻는 질문</h5>
                    </div>
                    <!-- End Nav Social -->
                </div>
            </div>
        </div>
        <!-- End Header Bottom -->
    </header>
    <!-- End Header Area -->
    <div th:insert="${center} ? ${center} : main"></div>
    
    
    <!-- Start Footer Area -->
    <footer class="footer">
        
        <!-- Start Footer Middle -->
        <div class="footer-middle">
            <div class="container">
                <div class="bottom-inner">
                    <div class="row">
						<div class="col-lg-3 col-md-4 col-12">
							<div class="footer-logo">
								<a th:href="@{/}"> <img src="images/logo/white-logo.svg" alt="#"></a>
							</div>								
							 <div class="single-footer f-link">                             
                                <ul>
                                	<li><a href="javascript:void(0)">개인정보처리방침</a></li> 
                                    <li><a href="javascript:void(0)">이용약관</a></li> 
                                    <li><a href="javascript:void(0)">청소년보호정책</a></li>
                                    <li>여기는 주소 어쩌구 저쩌구</li>
                                    <li><a href="javascript:void(0)">support@chanchanchan.com</a></li>									                                                                     
                                </ul>
                            </div>
						</div>						
                       <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>커뮤니티</h3>
                                <ul>
                                    <li><a href="javascript:void(0)">공지사항</a></li>
                                    <li><a href="javascript:void(0)">이벤트</a></li>
                                    <li><a href="javascript:void(0)">자주묻는 질문</a></li>
                                    <li><a href="javascript:void(0)">1:1문의</a></li>
                                    
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>     
                        						
						<div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer our-app">
                                <h3>모바일 앱</h3>
                                <ul class="app-btn">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-apple"></i>
                                            <span class="small-title">Download on the</span>
                                            <span class="big-title">App Store</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-play-store"></i>
                                            <span class="small-title">Download on the</span>
                                            <span class="big-title">Google Play</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
						
						<div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-contact">
                                <h3>고객센터</h3>
                                <p class="phone">TEL: 1111-2222</p>
                                <ul>
                                    <li><span>월요일-금요일: </span> 9.00 am - 8.00 pm</li>
                                    <li><span>토요일: </span> 10.00 am - 6.00 pm</li>
                                </ul>
                                
                            </div>
                            <!-- End Single Widget -->
                        </div>                                                                      
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/addcart.js"></script>
    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });
    </script>
    <script th:inline="javascript">
		/*<![CDATA[*/
			let mem = /*[[${session.loginmem}]]*/'0';
		/*]]>*/
	</script>
</body>

</html>
