<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
function checked_delete(chk){
	$.ajax({
		url:'[[@{/admin/delete}]]',
		data:{"del":chk},
		success:function(){
			location.href="/main";
		},
		error:function(){
			alert('탈퇴 실패');
			return false;
		}
	});
};

$(document).ready(function(){
	
	$('#delete').click(function(){
		var result = confirm("관리자 계정 탈퇴하시겠습니까?");
		if(result){
			$("#admin_id").text();
	  	    checked_delete(chk);	
		});
			alert('탈퇴완료!');
		}else{ 
			alert('취소!');
		}
	});
});

</script>
<style>
th{width:17%;}
</style>
</head>
<body>
	<div class="card shadow mb-3 " style="width:85%;">
		<div class="card-body">
			<div class="table-responsive">
				<form> 
				<table class="table table-bordered" id="dataTable">
						<tbody>
						<tr>
							<th>관리자고유번호</th>
							<td id="admin_id" th:text="${session.loginadm.admin_index}" style="width:20%; border:none;"></td>
						</tr>
						<tr>
							<th>아이디</th>
							<td th:text="${session.loginadm.admin_id}"></td>
						</tr>
						<tr>
							<th>비밀번호</th>
							<td><input type="password" th:value="${session.loginadm.admin_pwd}"></td>
						</tr>
						<tr>
							<th>이름</th>
							<td th:text="${session.loginadm.admin_name}"></td>
						</tr>
						<tr>
							<th>직책</th>
							<td th:text="${session.loginadm.admin_class}" style="width:90%;"></td>
						</tr>
						<tr>
							<th>이메일</th>
							<td th:text="${session.loginadm.admin_email}" style="width:90%;"></td>
						</tr>
						<tr>
							<th>승인상태</th>
							<td th:text="${session.loginadm.admin_status}" style="width:90%;"></td>
						</tr>
						</tbody>
					</table>
				</form>
			</div>
			
			<div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3">
				<button type="button" id="list" class="btn btn-secondary btn-sm float-right mr-3">홈으로</button>
				<a th:href="@{/mypagemodify(id=${session.loginadm.admin_id})}"><button type="button" id="modify" class="btn btn-primary btn-sm float-right mr-3">수정</button></a>
				<button type="button" id="delete" class="btn btn-danger btn-sm mr-3">계정탈퇴</button>
			</div>
		</div>
	</div>
	</body>
</html>