<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.chanchanchan.mapper.MemberMapper">
	<select id="select" parameterType="Integer" resultType="Member">
		SELECT * FROM member WHERE member_index=#{member_index}
	</select>
	<select id="selectall" resultType="Member">
		SELECT * FROM member
	</select>
	<insert id="insert" parameterType="Member">
		INSERT INTO member VALUES (member_index,#{member_id},#{member_pw},#{member_name},#{member_email},
		#{member_tel},member_rank,member_status,NOW(),null)
	</insert>
	<update id="update" parameterType="Member">
		UPDATE member SET member_id=#{member_id},member_pw=#{member_pw},member_name=#{member_name},
		member_email=#{member_email},member_tel=#{member_tel},member_rank='C',member_status='Y',
		member_joindate=#{member_joindate},member_dropdate=null 
		WHERE member_index=#{member_index}
	</update>
	<update id="changeStatus" parameterType="Integer">
		UPDATE member SET member_status='Y'
		WHERE member_index=#{member_index}
	</update>
	<update id="changeRank" parameterType="Member">
		UPDATE member SET member_rank=#{member_rank}
		WHERE member_index=#{member_index}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM member WHERE member_index=#{member_index}
	</delete>
	<select id="search" parameterType="String" resultType="Member">
		SELECT * FROM member WHERE member_rank=#{member_rank}
	</select>
	<select id="getSumById" parameterType="Integer" resultType="Member">
		SELECT sum(product_totalprice) AS sum FROM order_list WHERE member_index=#{id} GROUP BY member_index;
	</select>
	<select id="getTotal" parameterType="Criteria" resultType="Integer">
		SELECT COUNT(*) FROM member
		<if test='!isSearchOk'>
 		WHERE ${option} LIKE '%${searchVal}%'
		</if>
	</select>
	<select id="getListByPaging" parameterType="Criteria" resultType="Member">
		SELECT * FROM 
		<choose> 
			<when test="isSearchOk">member</when>
			<otherwise>
			(SELECT * FROM member 
			WHERE ${option} LIKE '%${searchVal}%')search_member 
			</otherwise>
		</choose>
			ORDER BY member_index DESC LIMIT #{pageStartNum},#{amount}
	</select>
</mapper>