<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.chanchanchan.mapper.RegularOrderMapper">
	<select id="select" parameterType="Integer" resultType="RegularOrder">
		SELECT * FROM regular_orderdetail WHERE regular_orderdetail_id=#{regular_orderdetail_id}
	</select>
	<select id="selectall" resultType="RegularOrder">
		SELECT * FROM regular_orderdetail
	</select>
	<insert id="insert" parameterType="RegularOrder">
		INSERT INTO regular_orderdetail VALUES (regular_orderdetail_id,#{product_id},#{order_id},#{regular_price})
	</insert>
	<update id="update" parameterType="RegularOrder">
		UPDATE regular_orderdetail SET product_id=#{product_id},order_id=#{order_id},regular_price=#{regular_price}
		WHERE regular_orderdetail_id=#{regular_orderdetail_id}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM regular_orderdetail WHERE regular_orderdetail_id=#{regular_orderdetail_id}
	</delete>
	<select id="getTotal" parameterType="Criteria" resultType="Integer">
		SELECT COUNT(*) FROM regular_orderdetail
		<if test='!isSearchOk'>
 		WHERE ${option} LIKE '%${searchVal}%'
		</if>
	</select>
	<select id="getListByPaging" parameterType="Criteria" resultType="RegularOrder">
		SELECT * FROM 
		<choose> 
			<when test="isSearchOk">regular_orderdetail</when>
			<otherwise>
			(SELECT * FROM regular_orderdetail 
			WHERE ${option} LIKE '%${searchVal}%')search_rod
			</otherwise>
		</choose>
			ORDER BY regular_orderdetail_id DESC LIMIT #{pageStartNum},#{amount}
	</select>
</mapper>