<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.chanchanchan.mapper.ReviewMapper">
	<select id="select" parameterType="Integer" resultType="Review">
		SELECT * FROM review WHERE review_id=#{review_id}
	</select>
	<select id="selectall" resultType="Review">
		SELECT * FROM review
	</select>
	<insert id="insert" parameterType="Review">
		INSERT INTO review VALUES (review_id,#{member_index},#{product_id},#{review_rank},
		#{review_content},NOW())
	</insert>
	<update id="update" parameterType="Review">
		UPDATE review SET member_index=#{member_index},
		product_id=#{product_id},review_rank=#{review_rank},review_content=#{review_content},review_date=#{review_date}
		WHERE review_id=#{review_id}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM review WHERE review_id=#{review_id}
	</delete>
	<select id="getTotal" parameterType="Criteria" resultType="Integer">
		SELECT COUNT(*) FROM review
		<if test='!isSearchOk'>
 		WHERE ${option} LIKE '%${searchVal}%'
		</if>
	</select>
	<select id="getListByPaging" parameterType="Criteria" resultType="Review">
		SELECT * FROM 
		<choose> 
			<when test="isSearchOk">review</when>
			<otherwise>
			(SELECT * FROM review 
			WHERE ${option} LIKE '%${searchVal}%')search_review 
			</otherwise>
		</choose>
			ORDER BY review_id DESC LIMIT #{pageStartNum},#{amount}
	</select>
</mapper>