<script>
$(document).ready(function() {
	$('#findidbtn').click(function() {
		var member_email = $('#member_email').val();  
		$.ajax({
			url : '[[@{/checkmail}]]',
			data : {"member_email":member_email},
		 	success : function(data){
		 		if(data == 0){
					alert("일치하는 회원정보가 없습니다.");
			 	}else {
			 		$('#findid_form').attr({
			 			'method' : 'post',
						'action' : '[[@{/findidimpl}]]'
				 	});
				 	$('#findid_form').submit();
			 	}
			}
		});
	});
});

</script>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-7 col-lg-4 mx-auto">
			<div class="card border-2 rounded-3 my-5">
				<div class="card-body p-4 p-sm-5">
					<h5 class="card-title text-center mb-5 fw-bold fs-5">아이디 찾기</h5>
					<form id="findid_form">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="member_name"
								name="member_name" placeholder="이름"> <label
								for="floatingInput">이름</label>
						</div>
						<div class="form-floating mb-5">
							<input type="text" class="form-control" id="member_email"
								name="member_email" placeholder="이메일"> <label
								for="floatingPassword">이메일</label>
						</div>

						<hr class="my-4">
						<div class="d-grid">
							<button id="findidbtn"
								class="btn btn-dark btn-lg text-uppercase fw-bold"
								type="button">아이디 찾기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
