<script>
$(document).ready(function(){
	$('#member_id').keyup(function() {
		var member_id = $(this).val();
		$.ajax({
			url: '[[@{/checkid}]]',
			data: {"member_id":member_id},
			success: function(data){
				if(data == 0){
					$('#id_span').text("이미 사용중인 아이디입니다.");
				}else{
					$('#id_span').text("사용 가능한 아이디입니다.");
				}
			}
		});
	});

	$('#member_pw').keyup(function() {
		var member_pw = $('#member_pw').val();
		if(member_pw == '' || member_pw.length < 4){
			$('#pwd_span').text("비밀번호는 4자리 이상으로 입력해주세요.");
		}else{
			$('#pwd_span').text("사용가능한 비밀번호 입니다.");
		}
	});
	
	$('#member_pw2').keyup(function() {
		var member_pw = $('#member_pw').val();
		var member_pw2 = $('#member_pw2').val();
		if(member_pw == member_pw2){
			$('#pwd_span2').text("비밀번호가 일치합니다.");
		}else{
			$('#pwd_span2').text("비밀번호가 일치하지 않습니다.");
		}
	});
	
	$('#registerbtn').click(function() {
		var member_id = $('#member_id').val();
		var member_pw = $('#member_pw').val();
		var member_pw2 = $('#member_pw2').val();
		$.ajax({
			url: '[[@{/checkid}]]',
			data: {"member_id":member_id},
			success: function(data){
				if(data == 0){
					alert("아이디를 확인해 주세요.");
				}else if($('#member_pw').val() != $('#member_pw2').val()){
					alert("비밀번호가 일치하지 않습니다. 다시 입력해 주세요.");
				}else {
					$('#register_form').attr({
						'method' : 'post',
						'action' : '[[@{/registerimpl}]]'
					});
					$('#register_form').submit();	
				}
			}
		});
			
	});
});
</script>

<form id="register_form">
	ID<input id="member_id" type="text" name="member_id"><span
		id="id_span"></span><br> PWD1<input id="member_pw"
		type="password" name="member_pw"><span id="pwd_span"></span><br>
	PWD2<input id="member_pw2" type="password" name="member_pw2"><span
		id="pwd_span2"></span><br> NAME<input id="member_name"
		type="text" name="member_name"><br> 폰번호<input
		id="member_tel" type="text" name="member_tel"><br> 이메일<input
		id="member_email" type="text" name="member_email"><br>
	<button id="registerbtn" class="btn btn-primary" type="button">REGISTER</button>
</form>

<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

            <form class="px-md-2">

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" />
                <label class="form-label" for="form3Example1q">Name</label>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="form3Example1w" class="form-control" />
                    <label class="form-label" for="form3Example1w">Registration code</label>
                  </div>

                </div>
                
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="form3Example1w" class="form-control" />
                    <label class="form-label" for="form3Example1w">Registration code</label>
                  </div>

                </div>              
              </div>
              
             <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" />
                <label class="form-label" for="form3Example1q">Name</label>
             </div> 
             <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" />
                <label class="form-label" for="form3Example1q">Name</label>
             </div> 
             

              <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                <div class="col-md-6">

                  <div class="form-outline">
                    <input type="text" id="form3Example1w" class="form-control" />
                    <label class="form-label" for="form3Example1w">Registration code</label>
                  </div>

                </div>
              </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>