<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
function checked_delete(chk){
	$.ajax({
		url:'[[@{/member/delete}]]',
		data:{"del":chk},
		success:function(){
			location.reload();
		},
		error:function(){
			alert('데이터 삭제실패');
			return false;
		}
	});
};

	
function checked_restore(chk){
	$.ajax({
		url:'[[@{/member/restore}]]',
		data:{"res":chk},
		success:function(){
			location.reload();
		},
		error:function(){
			alert('복원프로세스 실패');
			return false;
		}
	});
};

function formSubmit(){
	var formData={
		option:$('select[name=option]').val(),
		searchVal:$('#keyword').val()
	};
	
	$.ajax({
		url:'[[@{/member/searchlist}]]',
		type:'get',
		data:formData,
		success:function(){
			location.reload();
		},
		error:function(){
			alert('데이터전송 실패');
			return false;
		}
	});
};

function quitaccount(){
	$.ajax({
		url:'[[@{/member/searchlist}]]',
		type:'get',
		data:{"option":"member_status",
			"searchVal":"N"},
		success:function(){
			location.reload();
		},
		error:function(){
			alert('데이터전송 실패');
			return false;
		}
	});
};

$(document).ready(function(){
	$('#selectall').click(function(){
		$("input[name='checkbox']").prop("checked", true);
	});
	
	$('#cancelall').click(function(){
		$("input[name='checkbox']").prop("checked", false);
	});
	
	$('#delete').click(function(){
		var result = confirm("선택한 회원을 정말 삭제처리하시겠습니까?");
		if(result){
		$("input[name='checkbox']:checked").each(function(){
			var chk =$(this).closest("th").next().text();
	  	    checked_delete(chk);	
		});
			alert('탈퇴완료!');
		}else{ 
			alert('취소!');
		}
	});
	
	$('#restore').click(function(){
		var result = confirm("선택한 탈퇴계정을 복구하시겠습니까?");
		if(result){
		$("input[name='checkbox']:checked").each(function(){
			var chk =$(this).closest("th").next().text();
			console.log(chk);
	  	    checked_restore(chk);	
		});
			alert('복구완료!');
		}else{ 
			alert('취소!');
		}
	});
	
	$('#quitaccount').click(function(){
		quitaccount();
	});
	
	$('#memberlevel').click(function(){
		var register =window.open('[[@{/member/membershiplevel}]]','window','width=800, height=260 left=500 top=300');
	});	

});

</script>
</head>
<body>
	<div class="card shadow mb-3" style="width:95%;">
		<div class="card-header py-3">
			<h4 class="m-1 font-weight-bold text-dark d-inline">회원정보</h4>
		<div class="search_box float-right">
		    <form id="searchForm">
		        <div class="sch_group fl">
		            <select id="searchOption" name="option" title="검색 유형 선택">
		                <option value="member_id">아이디</option>
		                <option value="member_name">이름</option>
		                <option value="member_tel">전화번호</option>
		                <option value="member_rank">회원등급</option>
		            </select>
		            <input type="text" name="searchVal" id="keyword" placeholder="검색어를 입력하세요." title="키워드 입력"  autocomplete="off" />
		            <button type="button" id="submit" class="bt_search" onclick="return formSubmit()"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
		        </div>
		    </form>
		</div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th></th>
							<th>회원번호</th>
							<th>아이디</th>
							<th>비밀번호</th>
							<th>이름</th>
							<th>이메일</th>
							<th>전화번호</th>
							<th>회원등급</th>
							<th>현재상태</th>
							<th>가입일</th>
							<th>탈퇴일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="member:${member}">
							<th><input type="checkbox" name="checkbox"></input></th>
							<th th:text="${member.member_index}"></th>
							<th th:text="${member.member_id}"></th>
							<th th:text="${member.member_pw}"></th>
							<th th:text="${member.member_name}"></th>
							<th th:text="${member.member_email}"></th>
							<th th:text="${member.member_tel}"></th>
							<th th:text="${member.member_rank}"></th>
							<th th:text="${member.member_status}"></th>
							<th th:text="${member.member_joindate}"></th>
							<th th:text="${member.member_dropdate}"></th>
						</tr>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			  <th:block th:if="${pageMaker.endPage!=0}">
				   <th:block th:if="${pageMaker.prev}">
				    	<li class="page-item previous"><a class="page-link" 
				    	th:href="@{/member/list(pageNum=${pageMaker.startPage-1},amount=${pageMaker.cri.amount},option=${pageMaker.cri.option},searchVal=${pageMaker.cri.searchVal})}">이전</a></li>
				   </th:block>	
				   <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage	,pageMaker.endPage)}">
				    	<li class="page-item"><a class="page-link num" 
				    	th:href="@{/member/list(pageNum=${num},amount=${pageMaker.cri.amount},option=${pageMaker.cri.option},searchVal=${pageMaker.cri.searchVal})}" th:text="${num}"></a></li>
				   </th:block>
			   	   <th:block th:if="${pageMaker.next}">
				  		<li class="page-item next"><a class="page-link" 
				   		th:href="@{/member/list(pageNum=${pageMaker.endPage+1},amount=${pageMaker.cri.amount},option=${pageMaker.cri.option},searchVal=${pageMaker.cri.searchVal})}">다음</a></li>
			   		</th:block>
			  </th:block>
			  </ul>
			</nav>
			
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button type="button" id="selectall" class="btn btn-secondary btn-sm ml-3">전체선택</button>
				<button type="button" id="cancelall" class="btn btn-secondary btn-sm ml-3 mr-auto">전체해제</button>
				<button type="button" id="quitaccount" class="btn btn-primary btn-sm float-right mr-3">탈퇴계정 계정목록</button>
				<button type="button" id="restore" class="btn btn-success btn-sm float-right mr-3">탈퇴계정 복원</button>
			</div>
			<div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3">
				<button type="button" id="memberlevel" class="btn btn-primary btn-sm float-right mr-3">금액별 등급설정</button>
				<button type="button" id="delete" class="btn btn-danger btn-sm mr-3">삭제</button>
			</div>
		</div>
	</div>
	</body>
</html>