<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
function checked_delete(chk){
	$.ajax({
		url:'[[@{/product/delete}]]',
		data:{"del":chk},
		success:function(){
			location.reload();
		},
		error:function(){
			alert('데이터 삭제실패');
			return false;
		}
	});
};

function formSubmit(){
	var formData={
		option:$('select[name=option]').val(),
		searchVal:$('#keyword').val()
	};
	
	$.ajax({
		url:'[[@{/product/searchlist}]]',
		type:'get',
		data:formData,
		success:function(){
			location.reload();
		},
		error:function(){
			alert('데이터전송 실패');
			return false;
		}
	});
};

var cnt=0;
function changeSale(salerate,id){
	$.ajax({
		url:'[[@{/product/changesale}]]',
		type:'get',
		data:{product_id:id
			,product_discount:salerate},
		success:function(){
			location.reload();
		},
		error:function(){
			alert(id+'번 상품 할인율 수정 실패');
			cnt+=1;
			return false;
		}
	});
};

$(document).ready(function(){
	$('#selectall').click(function(){
		$("input[name='checkbox']").prop("checked", true);
	});
	
	$('#cancelall').click(function(){
		$("input[name='checkbox']").prop("checked", false);
	});
	
	$('#delete').click(function(){
		var result = confirm("선택한 회원을 정말 삭제처리하시겠습니까?");
		if(result){
		$("input[name='checkbox']:checked").each(function(){
			var chk =$(this).closest("th").next().text();
	  	    checked_delete(chk);	
		});
			alert('탈퇴완료!');
		}else{ 
			alert('취소!');
		}
	});
	
	$('#restore').click(function(){
		var result = confirm("선택한 탈퇴계정을 복구하시겠습니까?");
		if(result){
		$("input[name='checkbox']:checked").each(function(){
			var chk =$(this).closest("th").next().text();
			console.log(chk);
	  	    checked_restore(chk);	
		});
			alert('복구완료!');
		}else{ 
			alert('취소!');
		}
	});
	
	
	$('#salerate').click(function(){
		$("input[name='salerate']").each(function(){
				var salerate = $(this).val();
				var id= $(this).closest("th").parent().children().first().next().text();
				changeSale(salerate,id);
		});
		
		if(cnt>0){
			alert(cnt+'번 수정에 실패했습니다');
		}else{
			alert('할인율 수정 성공!');
		}
	});
	
	$('#register').click(function(){
		var register =window.open('[[@{/product/popupsignUp}]]','window','width=1500, height=260 left=100 top=200');
	});	
	
	$('#modify').click(function(){

		if($('input:checkbox[name=checkbox]:checked').length ==0){
			alert('수정할 제품을 선택해주세요');
			return false;
		}else if($('input:checkbox[name=checkbox]:checked').length >=2){
			alert('수정할 제품을 하나만 선택해주세요');
			return false;
		}else{
		var modify=window.open('[[@{/product/popupmodify}]]','window','width=1500, height=260 left=100 top=200');
		}
	});
});

</script>
</head>
<body>
	<div class="card shadow mb-3" style="width:80%;">
		<div class="card-header py-3">
			<h4 class="m-1 font-weight-bold text-dark d-inline">상품정보</h4>
		<div class="search_box float-right">
		    <form id="searchForm">
		        <div class="sch_group fl">
		            <select id="searchOption" name="option" title="검색 유형 선택">
		                <option value="product_id">상품고유번호</option>
		                <option value="category_id">카테고리번호</option>
		                <option value="product_name">상품명</option>
		            </select>
		            <input type="text" name="searchVal" id="keyword" placeholder="키워드를 선택하세요." title="키워드 입력"  autocomplete="off" />
		            <button type="button" id="submit" class="bt_search" onclick="return formSubmit()"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
		        </div>
		    </form>
		</div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th></th>
							<th>상품고유번호</th>
							<th>카테고리번호</th>
							<th>상품명</th>
							<th>상품설명</th>
							<th>상품대표이미지</th>
							<th>상품상세이미지</th>
							<th>상품가격</th>
							<th>필수정보고시</th>
							<th>할인율</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product:${product}">
							<th><input type="checkbox" name="checkbox"></input></th>
							<th th:text="${product.product_id}"></th>
							<th th:text="${product.category_id}"></th>
							<th th:text="${product.product_name}"></th>
							<th th:text="${product.product_description}"></th>
							<th th:text="${product.product_thumbnail_imgpath}"></th>
							<th th:text="${product.product_detail_imgpath}"></th>
							<th th:text="${product.product_price}"></th>
							<th th:text="${product.product_essential}"></th>
							<th><input type="text" name="salerate" th:value="${product.product_discount}" style="width:50px;"></input></th>
						</tr>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			  <th:block th:if="${pageMaker.endPage!=0}">
				   <th:block th:if="${pageMaker.prev}">
				    	<li class="page-item previous"><a class="page-link" 
				    	th:href="@{/product/list(pageNum=${pageMaker.startPage-1},amount=${pageMaker.cri.amount},option=${pageMaker.cri.option},searchVal=${pageMaker.cri.searchVal})}">이전</a></li>
				   </th:block>	
				   <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage	,pageMaker.endPage)}">
				    	<li class="page-item"><a class="page-link num" 
				    	th:href="@{/product/list(pageNum=${num},amount=${pageMaker.cri.amount},option=${pageMaker.cri.option},searchVal=${pageMaker.cri.searchVal})}" th:text="${num}"></a></li>
				   </th:block>
			   	   <th:block th:if="${pageMaker.next}">
				  		<li class="page-item next"><a class="page-link" 
				   		th:href="@{/product/list(pageNum=${pageMaker.endPage+1},amount=${pageMaker.cri.amount},option=${pageMaker.cri.option},searchVal=${pageMaker.cri.searchVal})}">다음</a></li>
			   		</th:block>
			  </th:block>
			  </ul>
			</nav>
			
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button type="button" id="selectall" class="btn btn-secondary btn-sm ml-3">전체선택</button>
				<button type="button" id="cancelall" class="btn btn-secondary btn-sm ml-3 mr-auto">전체해제</button>
				<button type="button" id="salerate" class="btn btn-primary btn-sm float-right mr-3">할인율 수정</button>
			</div>
			<div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3">
				<button type="button" id="register" class="btn btn-success btn-sm float-right mr-3">등록</button>
				<button type="button" id="modify" class="btn btn-primary btn-sm float-right mr-3">수정</button>
				<button type="button" id="delete" class="btn btn-danger btn-sm mr-3">삭제</button>
			</div>
		</div>
	</div>
	</body>
</html>