<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2 th:text="${ca.category_title}"></h2>					
				</div>
			</div>
		</div>
		<div class="row">
			<div th:each="pr:${prodlist}" class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Product -->
				<div class="single-product">
					<div class="product-image">
						<img th:src="@{/images/products/}+${pr.product_thumbnail_imgpath}" alt="#">
						<span class="sale-tag" th:text="|${pr.product_discount}%|" th:style="${pr.product_discount} == '0' ? 'display:none' : 'display:block'"></span>
						<div class="button">
							<a th:href="@{/productdetails(product_id=${pr.product_id})}" class="btn">
							<i class="lni lni-cart"></i> Add to Cart</a>
						</div>
					</div>
					<div class="product-info">
						<span class="category">Watches</span>
						<h4 class="title">
							<a th:href="@{/productdetails(product_id=${pr.product_id})}" th:text="${pr.product_name}"></a>
						</h4>
						<ul class="review">
							<li><i class="lni lni-star-filled"></i></li>
							<li><i class="lni lni-star-filled"></i></li>
							<li><i class="lni lni-star-filled"></i></li>
							<li><i class="lni lni-star-filled"></i></li>
							<li><i class="lni lni-star"></i></li>
							<li><span>4.0 Review(s)</span></li>
						</ul>
						<div class="price">
							<span th:text="|${#numbers.formatInteger(pr.product_price*(1-pr.product_discount/100.0),3,'COMMA')}원|"></span><span class="discount-price" th:text="|${#numbers.formatInteger(pr.product_price,3,'COMMA')}원|" th:style="${pr.product_discount} == '0' ? 'display:none' : 'display:block'"></span>
						</div>
					</div>
				</div>
				<!-- End Single Product -->
			</div>						
		</div>
	</div>
</section>
<!-- End Trending Product Area -->
