<script>
function formCheck(){
	if(document.getElementById("post_subject").value == ""){
		alert("제목을 입력하세요.");
		return false;
	}
	if(document.getElementById("post_content").value == ""){
		alert("글내용을 입력하세요.");
		return false;
	}
	alert("글 작성이 완료되었습니다.");
	return true;
}
</script>

<div class="container px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <h3  style="color: #0E4478; font-weight: bold; text-align: left;">문의하기</h3>
            
          </div><br>

          <!-- * * * * * * * * * * * * * *
          // * * SB Forms Contact Form * *
          // * * * * * * * * * * * * * * *

          // This form is pre-integrated with SB Forms.
          // To make this form functional, sign up at
          // https://startbootstrap.com/solution/contact-forms
          // to get an API token!
          -->

          <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/inquiryQuestionOk" method="post" onsubmit="return formCheck()">

            <!-- Name Input -->
            <div class="form-floating mb-3">
              회원번호<input class="form-control" type="text" name="member_index" th:value="${memdex}" readonly/>                  
            </div>

            <!-- Email Input -->
            <div class="form-floating mb-3">
              글제목<input class="form-control" type="text" name="post_subject" id="post_subject" />
              
              
            </div>

            <!-- Message Input -->
            <div class="form-floating mb-3">
              글내용<textarea class="form-control" type="text" name="post_content" id="post_content" style="height: 10rem;" data-sb-validations="required" >
              </textarea>
              
              <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
            </div>

            <!-- Submit success message -->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
              </div>
            </div>

            <!-- Submit error message -->
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>

            <!-- Submit button -->
            
              <button type="submit" class="btn btn-primary" style="margin-left: 463px;">글등록</button>
            
          </form>
          <!-- End of contact form -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- CDN Link to SB Forms Scripts -->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
