<script>
function formCheck(){
	if(document.getElementById("submit").value == ""){
		alert("제목을 입력하세요.");
		return false;
	}
	if(document.getElementById("content").value == ""){
		alert("글내용을 입력하세요.");
		return false;
	}
	return true;
}
</script>

<style>
	.layout{
		width:500px;
		margin:0 auto;
		margin-top:40px;
	}
	.layout input{
		width:100%;
		box-sizing:border-box;
	}
	.layout textarea{
		width:100%;
		margin-top:10px;
		min-height:300px;
	}
</style>
<div class="layout">
	<form th:action="@{/mypage/inquiryupdok/{post_id}(post_id=${post.post_id})}" method="post">
		제목<input name="post_subject" type="text" th:value="${post.post_subject}"><br><br>
		글내용<textarea name="post_content" th:value="${post.post_content}"></textarea>  <!-- 내용 안들어옴!!! -->
		<button type="submit">글수정</button>
	</form>
</div>