<script>
function formCheck(){
	if(document.getElementById("post_subject").value == ""){
		alert("제목을 입력하세요.");
		return false;
	}
	if(document.getElementById("post_content").value == ""){
		alert("글내용을 입력하세요.");
		return false;
	}
	alert("글 작성이 완료되었습니다.");
	return true;
}
</script>

<style>
	.layout{
		width:500px;
		margin:0 auto;
		margin-top:40px;
	}
	.layout input{
		width:100%;
		box-sizing:border-box;
	}
	.layout textarea{
		width:100%;
		margin-top:10px;
		min-height:300px;
	}
</style>
<div class="layout">
	<form action="/inquiryQuestionOk" method="post" onsubmit="return formCheck()">
		제목<input name="post_subject" type="text" id="post_subject"><br><br>
		글내용<textarea name="post_content" id="post_content"></textarea>
		<button type="submit" class="btn btn-secondary">글등록</button>
	</form>
</div>