<script>
$(document).ready(function(){
	$('#update_form' > a)
});
</script>
<form id="update_form">
	ID<input id="member_id" type="text" name="member_id"><span
		id="id_span"></span><br> PWD1<input id="member_pw"
		type="password" name="member_pw"><span id="pwd_span"></span><br>
	PWD2<input id="member_pw2" type="password" name="member_pw2"><span
		id="pwd_span2"></span><br> NAME<input id="member_name"
		type="text" name="member_name"><br> 폰번호<input
		id="member_tel" type="text" name="member_tel"><br> 이메일<input
		id="member_email" type="text" name="member_email"><br>
	<button id="registerbtn" class="btn btn-primary" type="button">REGISTER</button>
</form>