<script>
$(document).ready(function() {
	$('#loginbtn').click(function() {
		$('#login_form').attr({
			'method' : 'post',
			'action' : '[[@{/memuploginok}]]'
		});
		var pw = '${pw}';
		if($('#member_pw').text != pw){
			alert("비밀번호 틀림");
		}
		if($('#member_pw').text == pw){
			alert("확인");
		}
		$('#login_form').submit();
	});
});
</script>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-7 col-lg-4 mx-auto">
			<div class="card border-2 rounded-3 my-5">
				<div class="card-body p-4 p-sm-5">
					<h5 class="card-title text-center mb-5 fw-bold fs-5">비밀번호 재확인</h5>
					<form id="login_form">
						<div class="form-floating">
							<input type="password" class="form-control" id="member_pw"
								name="member_pw" placeholder="비밀번호"> <label
								for="floatingPassword">비밀번호</label>
								
						</div><br>

						<div class="d-grid">
							<button id="loginbtn"
								class="btn btn-dark btn-login text-uppercase fw-bold"
								type="button">로그인</button>
						</div>																										
					</form>
				</div>
			</div>
		</div>
	</div>
</div>