<style>

</style>
<script>
function display(time){
	$('#time').text(time);
};

function getdata(){
	$.ajax({
		url:'[[@{/time}]]',
		success:function(date,data){
			var spdate = date.split(' ');
			var time = spdate[5] + '\u00A0' + spdate[1] + '\u00A0' + spdate[2] + '\u00A0' + spdate[0] + '\u00A0' + spdate[3];
			display(time);
		},
		error:function(){
			alert('error');
		}
	});
};

$(document).ready(function(){
	getdata();
	setInterval(function(){
		getdata();
	},1000);
});
</script>
<div class="container col-10 border">
	<div class="fs-5 text-center">
		<strong>
		<span id="time" style="font-size: 20px; height:30px; color: #0E4478; "></span>
		</strong>
	</div>
	<div class="row justify-content-between">
		<div class="col-3 border">
			<ul class="navbar-nav">				
				<strong class="fs-5 text-dark mt-4">
					<a th:href="@{/mypage}">마이페이지</a>
				</strong>
				<hr>
	            <div class="fs-5 text-dark mt-4" style="font-weight:bold;">
	                나의 쇼핑 정보
	            </div>
	            
	            <li class="nav-item">
	                <a class="nav-link collapsed" th:href="@{/ordshipselupd}">                 
	                    <span>주문/배송 조회 및 변경</span>  
	                    <i class="bi bi-chevron-right"></i>
	                </a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link collapsed" th:href="@{/regordshipselupd}">
	                    <span>정기 주문/배송 조회 및 변경</span>
	                    <i class="bi bi-chevron-right"></i>
	                </a>              
	            </li>
	            <li class="nav-item">
	                <a class="nav-link collapsed" th:href="@{/review}">
	                    <span>상품후기 작성</span>
	                    <i class="bi bi-chevron-right"></i>
	                </a>              
	            </li>
	            <li class="nav-item">
	                <a class="nav-link collapsed" th:href="@{/inquiry}">
	                    <span>문의</span>
	                    <i class="bi bi-chevron-right"></i>
	                </a>              
	            </li>
	
	            <hr>
	
	            <div class="fs-5 text-dark mt-4" style="font-weight:bold;">
	                나의 계정
	            </div>
	
	            <li class="nav-item">
	                <a class="nav-link collapsed" th:href="@{/memuplogin}">
	                    <span>회원정보 수정</span>
	                    <i class="bi bi-chevron-right"></i>
	                </a>              
	            </li>
	
	            <li class="nav-item">
	                <a class="nav-link collapsed" th:href="@{/coupon}">
	                    <span>쿠폰</span>
	                    <i class="bi bi-chevron-right"></i>
	                </a>              
	            </li>
	           </ul>
		</div>
		<div class="col-9 border" style="padding: 0;">
			<div th:replace="${mypage} ? ${mypage} : left"></div>
		</div>
	
	</div>
</div>