<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
	
	$('#cancel').click(function(){
		window.history.go(-1);
	});
});

</script>
<style>
th{width:15%}

</style>
</head>
<body>
	<div class="card shadow mb-3" style="width:80%;">
		<div class="card-body">
			<div class="table-responsive">
				<form id="post_modify" th:action="@{/post/modifyform}" method="post"> 
				<table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
					<tbody>
						<tr>
							<th>답변 번호</th>
							<td><input type="text" th:value="${answer.answer_id}" style="border:none; width:20%;" name="answer_id" readonly></td>
						</tr>
						<tr>
							<th>글번호</th>
							<td><input type="text" th:value="${answer.post_id}" style="border:none; width:20%;" name="post_id" readonly> </td>
						</tr>
						<tr>
							<th>관리자번호</th>
							<td><input type="text" th:value="${answer.admin_index}" style="border:none; width:20%;" name="admin_index" readonly></td>
						</tr>
						<tr>
							<th>글내용</th>
							<td><textarea th:text="${answer.answer_content}" name="answer_content" style="width:90%; height:330px;"></textarea></td>
						</tr>
							<input type="hidden" th:value="${answer.register_date}" style="width:90%;" name="register_date">
						</tbody>
					</table>
				<button type="submit" id="modify" class="btn btn-primary btn-sm float-right mr-3">수정완료</button>
				</form>
			</div>
			
			<div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3">
				<button type="button" id="cancel" class="btn btn-danger btn-sm float-right mr-3">취소</button>
			</div>
		</div>
	</div>
	</body>
</html>