<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
function checked_delete(chk){
	$.ajax({
		url:'[[@{/post/answer/delete}]]',
		data:{"del":chk},
		success:function(){
			location.href="/post/list";
		},
		error:function(){
			alert('데이터 삭제실패');
			return false;
		}
	});
};

$(document).ready(function(){
	$('#delete').click(function(){
		var result = confirm("선택한 글을 정말 삭제처리하시겠습니까?");
		if(result){
			var chk = $('#answer_id').val();
			console.log(chk);
	  	    checked_delete(chk);	
			alert('삭제완료!');
		}else{ 
			alert('취소!');
		}
	});
});

</script>
</head>
<body>
	<div class="card shadow" style="width:48%;display:inline-block;float:left;">
		<div class="card-header py-3">
			<h4 class="m-1 font-weight-bold text-dark d-inline">답변</h4>		
		<div class="card-body">
			<div class="table-responsive">
				<form> 
				<table class="table table-bordered" id="dataTable">
					<tbody>
						<tr>
							<th style="width:15%;">답변번호</th>
							<td id="answer_id" th:val="${answerView.answer_id}" th:text="${answerView.answer_id}"></td>
						</tr>
						<tr>
							<th>글 번호</th>
							<td th:text="${answerView.post_id}"></td>
						</tr>
						<tr>
							<th>관리자번호</th>
							<td th:text="${answerView.admin_index}"></td>
						</tr>
						<tr>
							<th>작성일</th>
							<td th:text="${answerView.register_date}"></td>
						</tr>
						<tr>
							<th style="height:300px;">답변내용</th>
							<td th:text="${answerView.answer_content}"></td>
						</tr>
						</tbody>
					</table>
				</form>
			</div>
			
			<div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3">
				<a th:href="@{/post/modify(id=${answerView.answer_id})}"><button type="button" id="register" class="btn btn-primary btn-sm float-right mr-3">수정</button></a>
			<!-- 	<th:block th:if="${answerView.admin_index==session.loginadm.admin_index}"> -->
				<!-- </th:block> -->
<!-- 				<button type="button" id="delete" class="btn btn-danger btn-sm mr-3">삭제</button>
 -->			</div>
		</div>
	</div>
	</div>
	</body>
</html>