<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

$(document).ready(function(){
	
	$('#cancel').click(function(){
		window.history.go(-1);
	});
});

</script>
<style>
th{width:16%}

</style>
</head>
<body>
	<div class="card shadow mb-3" style="width:90%;">
		<div class="card-body">
			<div class="table-responsive">
				<form id="product_register" th:action="@{/product/registerform}" method="post"> 
				<table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
					<tbody>
						<tr>
							<th>카테고리번호</th>
							<td><input type="text" style="width:20%;" name="category_id"></td>
						</tr>
						<tr>
							<th>상품명</th>
							<td><input type="text" style="width:20%;" name="product_name"></td>
						</tr>
						<tr>
							<th>상품설명</th>
							<td><textarea name="product_description" style="width:90%; height:200px;"></textarea></td>
						</tr>
						<tr>
							<th>대표이미지</th>
							<td><img th:src="@{/images/products/}+${product.product_thumbnail_imgpath}" alt="#" style="width:10%;">							
							<input type="text" style="width:90%;" name="product_thumbnail_imgpath"></td>
						</tr>
						<tr>
							<th>상세이미지</th>
							<td><img th:src="@{/images/products/}+${product.product_detail_imgpath}" alt="#" style="width:10%;">							
							<input type="text" style="width:90%;" name="product_detail_imgpath"></td>
						</tr>
						<tr>
							<th>상품가격</th>
							<td><input type="text" style="width:20%;" name="product_price"> (원)</td>						
						</tr>
						<tr>
							<th>필수정보고시</th>
							<td><textarea name="product_essential" style="width:90%; height:200px;"></textarea></td>
						</tr>
						<tr>
							<th>할인율</th>
							<td><input type="text" style="width:90%;" name="product_discount"></td>
						</tr>
						</tbody>
					</table>
				<button type="submit" id="register" class="btn btn-primary btn-sm float-right mr-3">등록</button>
				</form>
			</div>
			
			<div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3">
				<button type="button" id="cancel" class="btn btn-danger btn-sm float-right mr-3">취소</button>
			</div>
		</div>
	</div>
	</body>
</html>