<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
function checked_delete(chk){
	$.ajax({
		url:'[[@{/review/delete}]]',
		data:{"del":chk},
		success:function(){
			location.href="/review/list";
		},
		error:function(){
			alert('데이터 삭제실패');
			return false;
		}
	});
};

$(document).ready(function(){
	
	$('#delete').click(function(){
		var result = confirm("선택한 상품을 정말 삭제처리하시겠습니까?");
		if(result){
			$("#review_id").text();
	  	    checked_delete(chk);	
		}else{ 
			alert('취소!');
		}
	});
	
	$('#list').click(function(){
		window.history.go(-1);
	});
});

</script>
</head>
<body>
	<div class="card shadow mb-3" style="width:90%;">
		<div class="card-body">
			<div class="table-responsive">
				<form> 
				<table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
						<tbody>
						<tr>
							<th>리뷰번호</th>
							<td id="review_id" th:text="${reviewView.review_id}" style="width:20%; border:none;"></td>
						</tr>
						<tr>
							<th>등록일</th>
							<td th:text="${reviewView.review_date}" style="width:20%;"></td>
						</tr>
						<tr>
							<th>회원번호</th>
							<td th:text="${reviewView.member_index}" style="width:20%;"></td>
						</tr>
						<tr>
							<th>상품번호</th>
							<td th:text="${reviewView.product_id}" style="width:20%;"></td>
						</tr>
						<tr>
							<th>별점</th>
							<td th:text="${reviewView.review_rank}" style="width:20%;"></td>
						</tr>
						<tr>
							<th>리뷰내용</th>
							<td th:text="${reviewView.review_content}" style="width:90%; height:200px;"></td>
						</tr>
						</tbody>
					</table>
				</form>
			</div>
			
			<div class="d-grid gap-3 d-md-flex justify-content-md-end mt-3">
				<button type="button" id="list" class="btn btn-secondary btn-sm float-right mr-3">목록으로</button>
				<button type="button" id="delete" class="btn btn-danger btn-sm mr-3">삭제</button>
			</div>
		</div>
	</div>
	</body>
</html>